{% extends 'base.html' %}

{% block head %}
<title>Elastic Properties</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Credits</h1>
    <div>
            <p>
                @article{PhysRevLett.120.145301,<br>
              title = {Crystal Graph Convolutional Neural Networks for an Accurate and Interpretable Prediction of Material Properties},<br>
              author = {Xie, Tian and Grossman, Jeffrey C.},<br>
              journal = {Phys. Rev. Lett.},<br>
              volume = {120},<br>
              issue = {14},<br>
              pages = {145301},<br>
              numpages = {6},<br>
              year = {2018},<br>
              month = {Apr},<br>
              publisher = {American Physical Society},<br>
              doi = {10.1103/PhysRevLett.120.145301},<br>
              url = {https://link.aps.org/doi/10.1103/PhysRevLett.120.145301}<br>
            }
            </p>
    </div>
    <div class="form">
        <form action="/">
            <input type="submit" value="back" />
        </form>
    </div>
</div>
{% endblock %}
