{% extends 'base.html' %}

{% block head %}
<title>Elastic Properties</title>
{% endblock %}

{% block body %}
<div class="content">
    {% if pred %}
        <h1 style="text-align: center">Data Unavailable</h1>
        <h3 style="text-align: center">Predictions</h3>
    {% else %}
        <h1 style="text-align: center">Results</h1>
    {% endif %}
    <table>
        <tr>
            <th>material_id</th>
            <th>formula</th>
            {% if pred %}
                <th>Bulk Modulus K_VRH (logGPa)</th>
                <th>Shear Modulus G_VRH (logGPa)</th>
            {% else %}
            <th>Bulk Modulus K_VRH (GPa)</th>
            <th>Shear Modulus G_VRH (GPa)</th>
            {% endif %}
            <th>poisson ratio</th>
        </tr>
        <tr>
            {% for value in result %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    </table>
    <div class="form">
        <form action="/">
            <input type="submit" value="back" />
        </form>
    </div>
</div>
{% endblock %}
